# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Release scratch
release_notes.md

# SwiftPM
.swiftpm/
Package.resolved

# IDE
.idea/
*.swp
*~
